doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://allfont.es/allfont.css?fonts=digital-7', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet')
    script(src='../../public/javascript/javascript.js', type = 'text/javascript')
  body
    block content
