
h2 Signup
form#form-container(action='/auth/signup', method='POST')
  label(for='name') Username
  input#username(type='text', name='email', placeholder='JonSnow')
  br
  label(for='password') Password
  input#password(type='password', name='password', placeholder='Your password')
  br
  input#button(type='submit' value='Submit')
